<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
function findTotal() {
	var arr = document.getElementsByName('phone_tot');
	var tot=0;
	for(var i=0;i<arr.length;i++){
		if(parseInt(arr[i].value))
			tot += parseInt(arr[i].value);
		};
		//document.getElementById('total').value = tot;
};
</script>

<head>
	<title>Sales Rep</title>
	<%- include header.ejs %>
</head>

<script type="text/javascript">
$(document).ready(function() {
	$("#post-btn").click(function() {
		$("#errors").hide();
		$.post("api/order/placeBusinessOrder", $("#post-form").serialize(), function( response ) {
			console.log(response);
			if(response.hasOwnProperty("success") && response.success) {
				Materialize.toast('New Order Placed', 4000);
				$("#post-form").trigger("reset");
				onCustomerSelected();
			} else if(response.hasOwnProperty("errors")) {
				var errors = $("#errors");
				errors.html("");
			
				for(var index in response.errors) {
					errors.append("<div>" + response.errors[index] + "</div>");
				};
				errors.show();
			}
			
			$(window).scrollTop(0);
			
		}, "json");
			
		event.preventDefault();
	});
	
	$("#custs").on("change", onCustomerSelected);
});

function onCustomerSelected() {
	var customerId = parseInt($("#custs").val());
	
	if(isNaN(customerId)) {
		$("#businessInfo").hide();
	} else {
		$("#businessInfo").show();
		
		var shippingOptions = $("#shippingOptions");
		shippingOptions.html("");
		
		var paymentOptions = $("#paymentOptions");
		paymentOptions.html("");
		
		// Load their shipping address
		$.get("api/customer/getShipping?customer=" + customerId, function( response ) {
			$(response).each(function(index) {
				var address = response[index];
				shippingOptions.append("<option value='" + response[index].id + "'>" + address.firstName + " " + address.lastName + " | " + address.address + " " + address.city + ", " + address.state.state + ", " + address.zip + "</option>");
			});
		}, "json");
		
		// Load their billing options
		$.get("api/customer/getPayments?customer=" + customerId, function( response ) {
			$(response).each(function(index) {
				paymentOptions.append("<option value='" + response[index].id + "'>Card ending in " + response[index].cardNumber + "</option>");
			});
		}, "json");
	}
}


</script>

<body>
	<%- include employee-navbar.ejs %>
	<div class='container topSpacing'>
		<div class="w3-container">
			<div class="row">
				<form class="col s12" id="post-form">
					<h4>Place Business Order</h4>
					<div id='errors' class='msgbox_red' style='display:none;'></div>
					<div class="row">
						<div class="input-field col s6">
						<select class="browser-default" id="custs" name='customer'>
							<option value="" disabled selected>Select Business Customer</option>
							<% customers.forEach(function(customer) { %>
								<option value='<%= customer.id %>'><%= customer.company %></option>
							<% }); %>
						</select>
						</div>
						<div class="input-field col s6">
							<a class="btn-floating btn-small waves-effect waves-light red" href="/newCustomer"><i class="material-icons">add</i></a>
						</div>
					</div>
					
					<div id='businessInfo' style='display:none;'>
					
						<label style="font-size:1em;color:#000000;">Choose Shipping</label>
						<div class="row">
							<div class="input-field col s6">
								<select class="browser-default" id="shippingOptions" name='shipping'></select>
							</div>
						</div>

						<label style="font-size:1em;color:#000000;">Choose Payment Method</label>
						<div class="row">
							<div class="input-field col s6">
								<select class="browser-default" id="paymentOptions" name='payment'></select>
							</div>
						</div>

						<div class='sectionSpacer'></div>
						
					</div>

					<label style="font-size:1.5rem;color:#000000;">Choose Phone Models</label>
					<div class="row" style='margin:auto;'>
						<ul class="collection with-header phoneList">
							<% if(phoneModels.length == 0) { %>
								<li class="collection-item">
									Opps, failed to load the phone models. Please try again later
								</li>
							<% } %>
							<% phoneModels.forEach(function(phoneModel) { %>
							<li class="collection-item">
								<%= phoneModel.description %>
								<div class="secondary-content">
									<label><%= '$' + phoneModel.price %></label>
									<input onblur="findTotal()" id="phoneCount" value=0 name="phone_model[id_<%= phoneModel.id %>]" type="text" class="validate phoneCount"/><br>
								</div>
								<div style='clear:both;'></div>
							</li>
							<% }); %>
						</ul>
					</div>

					<div class='sectionSpacer'></div>

					<button class="btn waves-effect waves-light" id="post-btn" type="submit">Place Order
						<i class="material-icons right">send</i>
					</button>
	
				</form>
			</div>
		</div>
	</div>
</body>
</html>
