<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
function findTotal(){
	var arr = document.getElementsByName('phone_tot');
	var tot=0;
	for(var i=0;i<arr.length;i++){
		if(parseInt(arr[i].value))
			tot += parseInt(arr[i].value);
		};Doc
		document.getElementById('total').value = tot;
};

</script>

<head>
	<title>Sales Rep</title>
	<%- include header.ejs %>
</head>
<body>
	<nav>
		<div class="nav-wrapper teal darken-1">
			<a href="#" class="brand-logo storeLogo">Sales Rep</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Sign Out</a></li>
			</ul>
		</div>
	</nav>
	<div class="w3-container">
		<div class="row">
    	<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
    				<select class="browser-default">
      				<option value="" disabled selected>Select Company</option>
							<% customers.forEach(function(customer) { %>
							<option><%= customer.lastName %>, <%=customer.firstName %></option>
							<% }); %>
    				</select>
					</div>
					<div class="input-field col s6">
						<a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
					</div>
				</div>
				<div class="row">
					<ul class="collection with-header phoneList">
						<li class="collection-header"><h4>Phone Models</h4></li>
						<% phoneModels.forEach(function(phoneModel) { %>
						<li class="collection-item">
							<%= phoneModel.fields.description %>
							<a href="#!" class="secondary-content">
									<label><%= '$' + phoneModel.fields.price %></label>
					      	<input onblur="findTotal()" value=0 name="phone_tot" type="text" class="validate phoneCount"/><br>
							</a>
							<div style='clear:both;'></div>
						</li>
						<% }); %>
					</ul>
				</div>

				<label style="font-size:1.5rem;color:#000000;">Shipping Address</label>
				<div class="row">
					<div class="input-field col">
						<i class="material-icons prefix">location_on</i>
          	<input id="shipping_address" type="text" class="validate" style="width:85%;">
          	<label for="shipping_address">Address</label>
					</div>
					<div class="input-field col">
          	<input id="city" type="text" class="validate" style="width:70%;">
          	<label for="city">City</label>
					</div>
					<div class="input-field col">
          	<input id="state" type="text" class="validate" style="width:20%;">
          	<label for="state">State</label>
					</div>
					<div class="input-field col">
          	<input id="zip" type="text" class="validate" style="width:30%;">
          	<label for="zip">Zip Code</label>
					</div>
				</div>

				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    			<i class="material-icons right">send</i>
  			</button>
    	</form>
  	</div>
	</div>
</body>
</html>
